/* styles for the project */

html {
    background-color: rgb(250, 248, 244);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px
}

body {
   border: 1pt solid grey
}

img {
    height: 20px;
    width: 20px;
}

p {
    margin: 5px;
}
/* div elements containing sub-divs or other items */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    text-align: center;
    box-sizing: border-box;    
    border: 1pt solid  grey;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* search div containing heading, input and search button */
#search {
    margin-top: 70px;
    font-size: 40px;
    align-items: center;
}

/* child div element containing search input and search button */
#search_input { 
    border: 1pt solid black;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

/* text input element to enter text to search */
#searchText {
    height: 30px; 
    width: 50%;
    border: 1px solid rgb(161, 164, 165);
    border-radius: 10px;
    margin-bottom: 5px;
}

/* div element containing news headline and link */
#news_item {
    background-color: white;
    margin: 10px;
    border: 1pt solid rgb(114, 112, 112);
    box-shadow: rgb(90, 94, 95);
    border-radius: 10px;
    text-align: start;
}

/* element to display news */
#headline {
    font-size: 25px;
}

/*  element to display link */
#link_container {
    font-size: 20px;
    font-style: italic;
}